################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WeatherForecast.Server/WeatherForecast.Server/bin
/WeatherForecast.Server/WeatherForecast.Server/obj
